*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

body{
    padding: 30px;
    user-select: none;
    background-image:url(https://www.toptal.com/designers/subtlepatterns/uploads/oriental.png);
}

h1,h2,h3{
    text-align: center;
    padding: 10px;
}
.senior{
    font-size: 30px;
    color: #C0392B;
}
.cap-3{
    background: transparent;
    color: #C0392B;
    margin: 5px;
    border-radius: 28px;
    cursor: pointer;
}
.cap-3:hover{
    color: #E74C3C;
    background: #000;
}

/* Contenido oculto semiSenior */
.cap-2-window, .cap-2-console{
    display: none;
}

ul{
    flex-direction: row;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a{
    font-weight: bolder;
    color: #a00c0c;
    transition: .5s;
}
p{
    color: #841616;
    margin: 0px 0px 5px 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.nivel_senior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_btn{
    color: #C0392B;
    font-size: 40px;
    text-shadow: 0px 0px 15px #000;
}
.home_btn:hover{
    text-shadow: 0px 0px 20px #C0392B;
    color: #000;
    font-size: 40px;
}