*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

body{
    padding: 30px;
    user-select: none;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png);
}

h1,h2,h3{
    text-align: center;
    padding: 10px;
}

.junior{
    color: #0A7C02;
}
.semiSenior{
    color: #0C47A0;
}
.cap-1{
    background: #ffffff;
    border: solid 1px #000;
    color: #0B4208;
    margin: 5px;
}
.cap-1:hover{
    border: solid 1px #3b3b3b;
    color: #089c00;
    background: #000;
}
.cap-2{
    color: #1A5276;
}

/* Contenido oculto junior */
.cap-1-intro, .cap-1-array, .cap-1-poo, .cap-1-metCadena, .cap-1-consola, .cap-1-dom{
    display: none;
}
:root{
    --yt: #f00;
}

ul{
    flex-direction: row;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a{
    font-weight: bolder;
    color: #0C47A0;
    transition: .5s;
}
.activity{
    color: #005AE1;
}
a:hover{
    color: #750E98;
}

th{
    padding: 3px;
}
td{
    padding: 3px;
}
hr{
    margin: 5px 0px;
}
.mini-titulo{
    color: #005AE1;
}
b{
    font-weight: bold;
    font-size: 15px;
}
.gdt{
    padding-bottom: 0;
}
p{
    color: #165884;
    margin: 0px 0px 5px 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.nivel_junior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}